#main-panel
{
  height: 130px;
  width: 100%;
  background: #4F5155;
  display: block;
}

#tasks-wrapper
{
  float: left;
}

#tasks-wrapper .task-box
{
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  background-color: #D0D0D0;
}